.u-section-1 .u-sheet-1 {
  min-height: 657px;
}

.u-section-1 .u-shape-1 {
  width: 723px;
  height: 570px;
  background-image: none;
  margin: 35px 84px 0 auto;
}

.u-section-1 .u-image-1 {
  height: 598px;
  width: 424px;
  margin: -545px auto 0 -20px;
}

.u-section-1 .u-group-1 {
  width: 679px;
  min-height: 439px;
  margin: -540px 93px 60px auto;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 35px;
  padding-right: 32px;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  background-image: none;
  margin: 5px 0 0 -8px;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  font-style: italic;
  margin: 81px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1037px;
  }

  .u-section-1 .u-shape-1 {
    height: 932px;
  }

  .u-section-1 .u-image-1 {
    object-position: 28.82% 50%;
    background-position: 28.82% 50%;
    margin-top: -543px;
    margin-left: 225px;
  }

  .u-section-1 .u-group-1 {
    margin-top: -903px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 29px;
    padding-right: 26px;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.5rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.25rem;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1086px;
  }

  .u-section-1 .u-shape-1 {
    height: 862px;
    margin-top: 53px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-1 {
    object-position: 9.97% 50%;
    background-position: 9.97% 50%;
    margin-top: -544px;
    margin-left: auto;
  }

  .u-section-1 .u-group-1 {
    margin-top: -970px;
    margin-right: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 18px;
    padding-right: 17px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    margin-left: -4px;
    margin-right: -4px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.125rem;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 824px;
  }

  .u-section-1 .u-shape-1 {
    height: 767px;
    width: 540px;
    margin-top: 2px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-image-1 {
    margin-top: -543px;
  }

  .u-section-1 .u-group-1 {
    margin-top: -797px;
    margin-bottom: -846px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 8px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 776px;
  }

  .u-section-1 .u-shape-1 {
    height: 729px;
    width: 340px;
  }

  .u-section-1 .u-image-1 {
    height: 479px;
    width: 340px;
    margin-top: -436px;
    margin-left: -5px;
  }

  .u-section-1 .u-group-1 {
    margin-top: -747px;
    margin-bottom: 310px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 14px;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 1070px;
}

.u-section-2 .u-shape-1 {
  width: 770px;
  height: 958px;
  margin: 2px 86px 0 auto;
}

.u-section-2 .u-image-1 {
  width: 582px;
  height: 414px;
  animation-duration: 5000ms;
  margin: -899px 115px 0 auto;
}

.u-section-2 .u-group-1 {
  width: 534px;
  min-height: 719px;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(200,56,3,0.4);
  margin: -244px auto 0 20px;
}

.u-section-2 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.u-section-2 .u-text-1 {
  font-weight: normal;
  font-size: 2.25rem;
  margin: 27px 0 0;
}

.u-section-2 .u-text-2 {
  margin: 32px 0 0;
}

.u-section-2 .u-btn-1 {
  font-weight: 700;
  border-style: none;
  margin: 48px auto 0;
}

.u-section-2 .u-group-2 {
  width: 502px;
  min-height: 325px;
  margin: -442px 86px 0 auto;
}

.u-section-2 .u-container-layout-2 {
  padding-left: 0;
  padding-right: 20px;
  padding-bottom: 0;
}

.u-section-2 .u-text-3 {
  font-size: 2.27778rem;
  margin: 111px -5px 0 5px;
}

.u-section-2 .u-text-4 {
  font-size: 1.27778rem;
  margin: 20px auto 0 5px;
}

.u-section-2 .u-shape-2 {
  height: 98px;
  background-image: none;
  margin: 137px auto 2px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1252px;
  }

  .u-section-2 .u-shape-1 {
    width: 807px;
    height: 1132px;
    margin-top: 1px;
    margin-right: 48px;
  }

  .u-section-2 .u-image-1 {
    animation-duration: 2000ms;
    margin-top: -1076px;
  }

  .u-section-2 .u-group-1 {
    margin-top: -72px;
    margin-left: 14px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-2 .u-text-1 {
    position: relative;
    font-weight: 700;
  }

  .u-section-2 .u-btn-1 {
    font-weight: 400;
  }

  .u-section-2 .u-group-2 {
    width: 311px;
    min-height: 396px;
    margin-top: -572px;
    margin-right: 67px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-right: 16px;
  }

  .u-section-2 .u-text-3 {
    position: relative;
  }

  .u-section-2 .u-shape-2 {
    margin-top: 211px;
    margin-bottom: 1px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1670px;
  }

  .u-section-2 .u-shape-1 {
    height: 1514px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-image-1 {
    margin-top: -1458px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 13px;
    padding-right: 13px;
  }

  .u-section-2 .u-group-2 {
    margin-top: -53px;
    margin-right: 49px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-right: 15px;
  }

  .u-section-2 .u-shape-2 {
    margin-top: 111px;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1614px;
  }

  .u-section-2 .u-shape-1 {
    height: 1451px;
    margin-top: 16px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-1 {
    width: 540px;
    height: 384px;
    object-position: 0% 100%;
    background-position: 0% 100%;
    margin-top: -1395px;
    margin-right: 0;
  }

  .u-section-2 .u-group-1 {
    margin-top: -42px;
    margin-left: 6px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-2 .u-group-2 {
    min-height: 299px;
    margin-top: -2px;
    margin-right: auto;
  }

  .u-section-2 .u-container-layout-2 {
    padding-top: 0;
    padding-right: 17px;
    padding-left: 9px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 14px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-shape-2 {
    margin-top: 86px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-2 {
    min-height: 1007px;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 1483px;
  }

  .u-section-2 .u-shape-1 {
    height: 334px;
    margin-top: 999px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-1 {
    height: 242px;
    object-position: 0% 50%;
    background-position: 0% 50%;
    margin-top: -199px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-group-1 {
    min-height: 948px;
    margin-top: -1266px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 12px;
    padding-right: 6px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3rem;
    margin-top: 0;
  }

  .u-section-2 .u-btn-1 {
    margin-bottom: 18px;
  }

  .u-section-2 .u-group-2 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 5px;
    margin-right: -5px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 4px;
  }

  .u-section-2 .u-shape-2 {
    margin-bottom: 4px;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-3 {
  background-image: url("images/66fed471-bd71-4296-89b5-087daa357106.png?rand=a4e4");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 856px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 25px;
  margin-bottom: 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 431px;
  background-image: none;
}

.u-section-3 .u-container-layout-1 {
  padding: 0 0 0 30px;
}

.u-section-3 .u-icon-1 {
  height: 95px;
  width: 95px;
  background-image: none;
  color: rgb(11, 22, 42) !important;
  margin: 32px auto 0;
}

.u-section-3 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.11111rem;
  margin: 29px 15px 0;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 433px;
  background-image: none;
}

.u-section-3 .u-container-layout-2 {
  padding-left: 30px;
}

.u-section-3 .u-icon-2 {
  height: 95px;
  width: 95px;
  color: rgb(200, 56, 3) !important;
  margin: 32px auto 0;
}

.u-section-3 .u-text-3 {
  font-size: 1.875rem;
  font-weight: 400;
  margin: 23px 0 0;
}

.u-section-3 .u-text-4 {
  font-size: 1.11111rem;
  margin: 29px 15px 0;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 431px;
  background-image: none;
}

.u-section-3 .u-container-layout-3 {
  padding-left: 30px;
}

.u-section-3 .u-icon-3 {
  height: 95px;
  width: 95px;
  background-image: none;
  margin: 32px auto 0;
}

.u-section-3 .u-text-5 {
  font-size: 1.875rem;
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-3 .u-text-6 {
  font-size: 1.11111rem;
  margin: 29px 15px 0;
}

.u-section-3 .u-layout-wrap-2 {
  margin: -6px auto 7px 0;
}

.u-section-3 .u-layout-cell-4 {
  min-height: 401px;
  background-image: none;
}

.u-section-3 .u-container-layout-4 {
  padding: 0 0 0 30px;
}

.u-section-3 .u-icon-4 {
  height: 95px;
  width: 95px;
  background-image: none;
  color: rgb(200, 56, 3) !important;
  margin: 32px auto 0;
}

.u-section-3 .u-text-7 {
  font-size: 1.875rem;
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-3 .u-text-8 {
  font-size: 1.11111rem;
  margin: 29px 15px 0;
}

.u-section-3 .u-layout-cell-5 {
  min-height: 409px;
  background-image: none;
}

.u-section-3 .u-container-layout-5 {
  padding-left: 30px;
}

.u-section-3 .u-icon-5 {
  height: 95px;
  width: 95px;
  color: rgb(11, 22, 42) !important;
  margin: 32px auto 0;
}

.u-section-3 .u-text-9 {
  font-size: 1.875rem;
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-3 .u-text-10 {
  font-size: 1.11111rem;
  margin: 29px 15px 0;
}

.u-section-3 .u-layout-cell-6 {
  min-height: 409px;
  background-image: none;
}

.u-section-3 .u-container-layout-6 {
  padding-left: 30px;
}

.u-section-3 .u-icon-6 {
  height: 95px;
  width: 95px;
  background-image: none;
  color: rgb(200, 56, 3) !important;
  margin: 32px auto 0;
}

.u-section-3 .u-text-11 {
  font-size: 1.875rem;
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-3 .u-text-12 {
  font-size: 1.11111rem;
  margin: 29px 15px 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1070px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 401px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 25px;
  }

  .u-section-3 .u-icon-1 {
    height: 90px;
    width: 90px;
    transition-duration: 0.5s;
    transform: rotate(0deg);
    margin-top: 31px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 25px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 25px;
    margin-left: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 499px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 25px;
  }

  .u-section-3 .u-icon-2 {
    height: 90px;
    width: 90px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 25px;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-top: 31px;
    margin-right: 25px;
    margin-left: 0;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 499px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 25px;
  }

  .u-section-3 .u-icon-3 {
    height: 90px;
    width: 90px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 25px;
  }

  .u-section-3 .u-text-6 {
    width: auto;
    margin-top: 28px;
    margin-right: 25px;
    margin-left: 0;
  }

  .u-section-3 .u-layout-wrap-2 {
    margin-bottom: -427px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 433px;
  }

  .u-section-3 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 433px;
  }

  .u-section-3 .u-text-10 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 433px;
  }

  .u-section-3 .u-text-12 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1177px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 720px;
    margin-top: 70px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-3 .u-icon-1 {
    height: 95px;
    width: 95px;
    margin-top: 19px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 401px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-3 .u-icon-2 {
    height: 95px;
    width: 95px;
    margin-top: 19px;
  }

  .u-section-3 .u-text-3 {
    margin-top: 25px;
    margin-right: 0;
  }

  .u-section-3 .u-text-4 {
    margin-top: 12px;
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 401px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-3 .u-icon-3 {
    height: 95px;
    width: 95px;
    margin-top: 19px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 0;
  }

  .u-section-3 .u-text-6 {
    margin-right: 0;
  }

  .u-section-3 .u-layout-wrap-2 {
    margin-bottom: 25px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 532px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 534px;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1794px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 8px;
    padding-right: 8px;
  }

  .u-section-3 .u-icon-1 {
    height: 63px;
    width: 63px;
    margin-top: 12px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 8px;
    padding-right: 8px;
  }

  .u-section-3 .u-icon-2 {
    height: 63px;
    width: 63px;
    margin-top: 11px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 8px;
    padding-right: 8px;
  }

  .u-section-3 .u-icon-3 {
    height: 63px;
    width: 63px;
    margin-top: 11px;
  }

  .u-section-3 .u-layout-wrap-2 {
    margin-bottom: 50px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 306px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
  }

  .u-section-3 .u-icon-4 {
    height: 63px;
    width: 63px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 307px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
  }

  .u-section-3 .u-icon-5 {
    height: 63px;
    width: 63px;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 245px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 10px;
  }

  .u-section-3 .u-icon-6 {
    height: 63px;
    width: 63px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1070px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 2px;
    padding-right: 2px;
  }

  .u-section-3 .u-icon-1 {
    margin-top: 62px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 2px;
    padding-right: 2px;
  }

  .u-section-3 .u-icon-2 {
    margin-top: 51px;
  }

  .u-section-3 .u-text-3 {
    margin-top: 19px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 2px;
    padding-right: 2px;
  }

  .u-section-3 .u-icon-3 {
    height: 70px;
    width: 70px;
    margin-top: 54px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 360px;
  }

  .u-section-3 .u-text-7 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 330px;
  }

  .u-section-3 .u-icon-5 {
    margin-top: 22px;
  }

  .u-section-3 .u-text-9 {
    font-size: 1.5rem;
    margin-top: 23px;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 299px;
  }

  .u-section-3 .u-text-11 {
    font-size: 1.5rem;
  }
}.u-section-4 {
  min-height: 792px;
}

.u-section-4 .u-sheet-1 {
  min-height: 792px;
}

.u-section-4 .u-layout-wrap-1 {
  width: 1120px;
  margin: 0 20px 0 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 483px;
}

.u-section-4 .u-image-1 {
  height: 679px;
  margin: -230px auto -230px 0;
}

.u-section-4 .u-image-2 {
  min-height: 483px;
  background-image: url("images/4cb47f87-8070-4a88-80a1-85fdc4d871d8.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-image-3 {
  min-height: 483px;
  background-image: url("images/46268524-7143-4e5b-bdeb-504e48a225cf.jpeg");
  background-position: 50% 50%;
}

.u-section-4 .u-group-1 {
  width: 744px;
  min-height: 210px;
  margin: 20px auto 4px 415px;
}

.u-section-4 .u-container-layout-4 {
  padding: 0 20px 0 0;
}

.u-section-4 .u-group-2 {
  min-height: 210px;
  margin: 0 auto 0 0;
}

.u-section-4 .u-container-layout-5 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  font-style: italic;
  font-weight: 600;
  font-size: 1.27778rem;
  margin: 38px 33px 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 714px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 940px;
    margin-right: 0;
  }

  .u-section-4 .u-image-1 {
    height: 683px;
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-group-1 {
    margin-left: 196px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-right: 16px;
  }

  .u-section-4 .u-group-2 {
    width: 579px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-4 .u-text-1 {
    position: relative;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 50vw;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-image-1 {
    height: 636px;
    margin-top: 4px;
    margin-bottom: -300px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-2 {
    min-height: 370px;
  }

  .u-section-4 .u-image-3 {
    min-height: 370px;
  }

  .u-section-4 .u-group-1 {
    width: 720px;
    margin-bottom: 42px;
    margin-left: 0;
  }

  .u-section-4 .u-container-layout-4 {
    padding-right: 10px;
  }

  .u-section-4 .u-group-2 {
    min-height: 276px;
    width: 441px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 61px;
    margin-right: 61px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1677px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-4 .u-image-1 {
    height: 1301px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-2 {
    min-height: 876px;
  }

  .u-section-4 .u-image-3 {
    min-height: 876px;
  }

  .u-section-4 .u-group-1 {
    width: 540px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-right: 5px;
  }

  .u-section-4 .u-group-2 {
    margin-top: -133px;
    margin-right: auto;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1170px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-4 .u-image-1 {
    height: 819px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-2 {
    min-height: 552px;
  }

  .u-section-4 .u-image-3 {
    min-height: 483px;
  }

  .u-section-4 .u-group-1 {
    width: 340px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-right: 1px;
  }

  .u-section-4 .u-group-2 {
    margin-top: -16px;
    margin-bottom: -50px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}.u-section-5 {
  min-height: 642px;
}

.u-section-5 .u-sheet-1 {
  min-height: 633px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: -64px;
  margin-bottom: 20px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 677px;
}

.u-section-5 .u-container-layout-1 {
  padding: 29px 30px 0;
}

.u-section-5 .u-image-1 {
  width: 348px;
  height: 516px;
  margin: 8px auto 0;
}

.u-section-5 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: -523px auto 0 33px;
}

.u-section-5 .u-text-2 {
  font-size: 1.27778rem;
  margin: 20px 0 0;
}

.u-section-5 .u-form-1 {
  height: 311px;
  margin: 30px -60px 0 0;
}

.u-section-5 .u-form-group-1 {
  margin-left: 0;
}

.u-section-5 .u-input-1 {
  margin-top: 0;
  margin-bottom: 0;
  height: 46px;
}

.u-section-5 .u-form-group-2 {
  margin-left: 0;
}

.u-section-5 .u-input-2 {
  margin-top: 0;
  margin-bottom: 0;
  height: 46px;
}

.u-section-5 .u-form-group-3 {
  width: 100%;
}

.u-section-5 .u-form-group-4 {
  margin-left: 0;
}

.u-section-5 .u-input-4 {
  margin-top: 0;
  margin-bottom: 0;
  height: 46px;
}

.u-section-5 .u-form-group-5 {
  width: 100%;
}

.u-section-5 .u-form-group-6 {
  width: 100%;
}

.u-section-5 .u-btn-1 {
  border-style: none;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 691px;
  background-image: linear-gradient(#c83803, #0b162a);
}

.u-section-5 .u-container-layout-2 {
  padding: 26px 30px;
}

.u-section-5 .u-text-3 {
  font-size: 2.27778rem;
  font-weight: 700;
  margin: 28px 0 0;
}

.u-section-5 .u-icon-1 {
  height: 48px;
  width: 48px;
  background-image: none;
  margin: 47px auto 0;
}

.u-section-5 .u-text-4 {
  font-size: 1.88889rem;
  margin: 27px auto 0;
}

.u-section-5 .u-btn-2 {
  padding: 0;
}

.u-section-5 .u-icon-2 {
  height: 48px;
  width: 48px;
  margin: 20px auto 0;
}

.u-section-5 .u-icon-3 {
  height: 0;
  width: 0;
  margin: 20px auto 0;
}

.u-section-5 .u-text-5 {
  margin: 10px auto 0;
}

.u-section-5 .u-btn-3 {
  font-size: 1.88889rem;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-5 {
    min-height: 521px;
  }

  .u-section-5 .u-sheet-1 {
    min-height: 898px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: -9px;
    margin-bottom: 0;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 907px;
    background-position: 50% 50%;
  }

  .u-section-5 .u-image-1 {
    margin-top: 143px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 26px;
  }

  .u-section-5 .u-form-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 907px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-top: 0;
  }

  .u-section-5 .u-text-3 {
    width: auto;
    margin-top: 124px;
  }

  .u-section-5 .u-icon-1 {
    margin-top: 100px;
  }

  .u-section-5 .u-text-4 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-icon-2 {
    margin-top: 53px;
  }

  .u-section-5 .u-icon-3 {
    margin-top: -239px;
  }

  .u-section-5 .u-text-5 {
    width: auto;
    margin-top: 269px;
  }
}

@media (max-width: 991px) {
  .u-section-5 {
    min-height: 642px;
  }

  .u-section-5 .u-sheet-1 {
    min-height: 942px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-image-1 {
    width: 276px;
    height: 409px;
  }

  .u-section-5 .u-text-1 {
    margin-top: -450px;
    margin-left: 19px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 909px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 8px;
    padding-right: 8px;
  }

  .u-section-5 .u-text-3 {
    margin-left: 11px;
    margin-right: 11px;
  }

  .u-section-5 .u-text-4 {
    width: 275px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-icon-2 {
    margin-top: 62px;
  }

  .u-section-5 .u-icon-3 {
    margin-top: -251px;
  }

  .u-section-5 .u-text-5 {
    margin-top: 281px;
  }
}

@media (max-width: 767px) {
  .u-section-5 {
    min-height: 742px;
  }

  .u-section-5 .u-sheet-1 {
    min-height: 1403px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 0;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 676px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-5 .u-image-1 {
    width: 414px;
    height: 614px;
    margin-top: 0;
    margin-right: 84px;
    margin-left: 42px;
  }

  .u-section-5 .u-text-1 {
    margin-top: -634px;
    margin-left: 46px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 736px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-top: 26px;
  }

  .u-section-5 .u-text-3 {
    margin-top: 24px;
  }

  .u-section-5 .u-icon-1 {
    margin-top: 74px;
    margin-left: 236px;
  }

  .u-section-5 .u-text-4 {
    margin-top: 24px;
    margin-right: 162px;
    margin-left: 134px;
  }

  .u-section-5 .u-icon-2 {
    margin-top: 60px;
  }

  .u-section-5 .u-icon-3 {
    margin-top: -209px;
  }

  .u-section-5 .u-text-5 {
    margin-top: 239px;
  }
}

@media (max-width: 575px) {
  .u-section-5 {
    min-height: 1080px;
  }

  .u-section-5 .u-sheet-1 {
    min-height: 185px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 770px;
  }

  .u-section-5 .u-image-1 {
    width: 349px;
    height: 517px;
    margin-top: 83px;
    margin-left: -4px;
    margin-right: -4px;
  }

  .u-section-5 .u-text-1 {
    font-size: 3rem;
    width: auto;
    margin-top: -545px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-top: 9px;
  }

  .u-section-5 .u-form-1 {
    margin-top: 19px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-form-group-1 {
    width: 100%;
  }

  .u-section-5 .u-form-group-2 {
    width: 100%;
  }

  .u-section-5 .u-form-group-4 {
    width: 100%;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 632px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-5 .u-text-3 {
    margin-right: 3px;
    margin-left: 7px;
  }

  .u-section-5 .u-icon-1 {
    margin-left: 145px;
  }

  .u-section-5 .u-text-4 {
    width: 254px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-icon-3 {
    margin-top: -167px;
  }

  .u-section-5 .u-text-5 {
    margin-top: 197px;
    margin-left: 28px;
    margin-right: 28px;
  }
}